@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Neue Helvetica", sans-serif;
}

html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
